.sliderwrap3 {
  width: 100wv;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sliderCont3 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 480px;
  height: 390px;
  /* background-color: aqua; */
}
/* .avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 480px;
  height: 390px;
}
.inactive {
  display: none;
} */
.arrow {
  position: absolute;
  z-index: 10;
  transform: translateY(-50%);
  cursor: pointer;
}
.Right {
  right: 10px;
}
.Left {
  left: 20px;
}
.circleIndicator {
  position: absolute;
  bottom: 10px;
}
.currentIndicator {
  width: 15px;
  height: 15px;
  border-radius: 75%;
  margin: 1.5px;
  border: none;
}
.currentIndicator.nonactive {
  background-color: grey;
}
