.accordion2con {
  text-align: center;
  margin-top: 30px;
  gap: 30px;
}

.itemcon {
  background-color: rgb(236, 59, 59);
  margin: 10px;

  justify-content: center;
  margin-left: 250px;
  margin-right: 250px;
}
.accordionItem p {
  margin: 5px;
  color: white;
}
