.prodContainer{
    text-align: center;
    margin-top: 100px;
    background: cornsilk;
    color: rgb(78, 22, 66);
}
.top-container{
    text-align: center;
    color: blueviolet;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #f1eef1;
}
.scroll-progress-tracking-container{
    width: 100%;
    height: 5px;
    background: #f5eeee;
}

